<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
</head>
<h1><%= @title %></h1>
<% @data.each do |group| %>
  <%= group[:group] %>
  <table>
    <thread>
      <tr>
        <th>Skill Name</th>
        <th>Group ID</th>
        <th>Type ID</th>
        <th>Description</th>
        <th>Rank</th>
        <th>Primary Required Attribute</th>
        <th>Secondary Required Attribute</th>
        <th colspan='2'>Required Skills</th>
        <th colspan='2'>Skill Bonus Collection</th>
      </tr>
    </thread>
    <% group[:skills].each do |skill| %>
      <tr>
        <td><%= skill[:type_name] %></td>
        <td><%= skill[:group_id] %></td>
        <td><%= skill[:type_id] %></td>
        <td><%= skill[:description] %></td>
        <td><%= skill[:rank] %></td>
        <td><%= skill[:requiredAttributes]['primaryAttribute'] %></td>
        <td><%= skill[:requiredAttributes]['secondaryAttribute'] %></td>
        <% if !skill[:requiredSkills][:required_skills].empty? %>
          <% skill[:requiredSkills][:required_skills].each do |rqs| %>
            <% if rqs.kind_of?(Array) %>
              <% rqs.each_with_index do |rs, i| %>
                <% if i == 0 %>
                    <td><%= rs['typeID'] %></td>
                    <td><%= rs['skillLevel'] %></td>
                <% else %>
                  </tr>
                  <tr>
                    <td colspan='7'></td>
                    <td><%= rs['typeID'] %></td>
                    <td><%= rs['skillLevel'] %></td>
                <% end %>
              <% end %>
            <% else %>
              <td><%= rqs['typeID'] %></td>
              <td><%= rqs['skillLevel'] %></td>
            <% end %>
          <% end %>
        <% end %>
        <% if !skill[:requiredSkills][:skill_bonus_collection].empty? %>
          <% skill[:requiredSkills][:skill_bonus_collection].each do |bs| %>
            <% if bs.kind_of?(Array) %>
              <% bs.each_with_index do |b, i| %>
                <% if i == 0 %>
                    <td><%= b['bonusType'] %></td>
                    <td><%= b['bonusValue'] %></td>                  
                <% else %>
                  <tr>
                    <td colspan='9'></td>
                    <td><%= b['bonusType'] %></td>
                    <td><%= b['bonusValue'] %></td>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <td><%= bs['bonusType'] %></td>
              <td><%= bs['bonusValue'] %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
